* {
  margin: 0;
  padding: 0;
}
body {
  height: 300vh;
  width: 100%;
  background-image: url("../img/headerbackgroundimg.jpg");
  background-attachment: fixed;
  background-size: cover;
}
nav {
  height: 50px;
  width: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}
main {
  width: 100%;
  height: 100%;
}
.container {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: center;
  position: relative;
}
.containermenu {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: center;
  position: relative;
}
.div {
  height: 80%;
  width: 45%;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: center;
}
.divmenu {
  height: 100%;
  width: 100%;
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: center;
}
.div1 {
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: center;
}
#bodyimg {
  width: 80%;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: center;
}
.container2main {
  height: 700px;
  width: 100%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  width: center;
  position: relative;
}
.divmenumain1 {
  height: 400px;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: center;
}
#pizzamenu {
  width: 100%;
  height: cover;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: center;
}
h1 {
  font-family: "Noto Serif", serif;
}
h3 {
  font-family: "Noto Serif", serif;
}
.containeritvlag {
  height: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.divgroen {
  height: 100%;
  width: 100%;
  background-color: #019127;
}
.divwit {
  height: 100%;
  width: 100%;
  background-color: white;
}
.divrood {
  height: 100%;
  width: 100%;
  background-color: #ba1a1a;
}
.containermenuheader {
  height: 1617px;
  width: 100%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  width: center;
  position: relative;
}
.divmenukaartpizza {
  height: 1600px;
  width: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: center;
}
.pizza1kleur {
  color: #019127;
}
.pasta1kleur {
  color: #d4ccb8;
}
.lassagna1kleur {
  color: #ba1a1a;
}
.prijzenmenukaart {
  height: 1600px;
  width: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: center;
}
/* footer*/
.sticky-footer{
  background-color: #222;
  color: white;
  position: sticky;
  top: 100%;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: center;
}
.ul1{
  width: 80%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: center;
  color: white;
}